body { overflow: hidden; }

.title-div { padding: 10rem 5rem; }

#page-title {
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    height: 100%;
}

.text, .home-btn {
    text-transform: uppercase;
    font-family: Inter, serif !important;
}

h1 { color: var(--card-background); }

.home-btn {
    background: var(--card-background) !important;
    border-radius: 0 !important;
    font-size: 1rem !important;
}
