body {
    overflow: hidden;
}

.title-div {
    padding: 10rem 5rem;
}

#page-title, #page-subtitle {
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    height: 100%;
}

.text {
    text-transform: uppercase;
    font-family: Inter, serif;
}
