.text, .card h2 {
    text-transform: uppercase;
    font-family: Inter, serif;
}

.list {
    padding-left: 1.25rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-container {
    justify-content: center !important;
    align-content: flex-start !important;
}

.card {
    width: calc(20% - 20px);
    margin: 10px;
    background-color: #f0f0f0 !important;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 20px;
}

.card h2 {
    font-size: 18px;
    color: #333;
}

a h3 {

    color: var(--mdb-gray-dark) !important;
}

.card p {
    font-size: 16px;
    color: #666;
}

.active>.page-link,.page-link.active {
    color: var(--mdb-white) !important;
    background-color: var(--mdb-dark) !important;
    border-color: var(--mdb-dark) !important;
}

#products { width: 80%; }

#filters { width: 20%; }

#filters, #products { padding: 20px }

.filters-card { width: 100%; }

.filters-list {
    height: calc(100vh - 285px);
    padding: 0 15px;
    overflow: auto;
}

.filters-list, .list-collapse {
    list-style: none;
}

.list-collapse {
    max-height: 35vh;
    overflow: auto;
    border-bottom: 1px solid var(--background-color);
}

.filters-items {
    margin-bottom: 15px;
}

#btn-clear {
    background-color: var(--mdb-gray-300);
    color: #000;
}

.form-check-input:checked {
    border-color: var(--mdb-gray-dark) !important;
}

.form-check-input[type=radio]:checked:after {
    border-color: var(--mdb-gray-dark) !important;;
    background-color: var(--mdb-gray-dark) !important;;
}

.form-check-input[type=checkbox]:checked {
    background-color: var(--mdb-gray-dark) !important;
}

.form-check-input:focus:before {
    box-shadow: 0 0 0 0 !important;
    transform: none !important;
    transition: none !important;
}

.form-check-label {
    user-select: none;
}

@media (max-width: 1400px) {
    #products { width: 75%; }

    #filters { width: 25%; }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}
