.filters-h4 { padding: 15px 0 0 15px; }

.card {
    width: calc(20% - 20px);
    margin: 10px;
    background-color: var(--card-background) !important;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.active > .page-link, .page-link.active {
    color: var(--mdb-white) !important;
    background-color: var(--mdb-dark) !important;
    border-color: var(--mdb-dark) !important;
}

#products { width: 80%; }

#filters { width: 20%; }

#filters, #products { padding: 20px }

.filters-card { width: 100%; }

.filters-list {
    height: calc(100vh - 285px);
    padding: 0 15px;
    overflow: auto;
}

.filters-list, .list-collapse { list-style: none; }

.list-collapse {
    max-height: 35vh;
    overflow: auto;
    border-bottom: 1px solid var(--background-color);
}

.filters-items { margin-bottom: 15px; }

#btn-clear {
    background-color: var(--mdb-gray-300);
    color: #000;
}

@media (max-width: 1400px) {
    #products { width: 75%; }

    #filters { width: 25%; }

    .product-card {
        width: calc(25% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

@media (max-height: 875px) {
    .list-collapse {
        max-height: 25vh;
    }
}
