body { overflow: hidden; }

#main-card { width: 80%; }

.product-img {
    width: 40%;
    padding: 5px 25px;
}

.product-info {
    width: 60%;
    padding: 5px 25px;
}

.mini-img {
    width: 24.3% !important;
    cursor: pointer;
}

#main-img { width: 74% !important; }

img { border-radius: 10px; }

.card {
    background: var(--card-background) !important;
    width: 95% !important;
    height: 85vh;
    max-height: 85vh;
}

p, a {
    text-align: justify;
    font-size: 18px;
}

td, th {
    width: 35%;
    font-size: 18px;
}

.order-buttons {
    position: absolute;
    bottom: 25px;
}

.btn { font-size: 14px !important; }

.toast {
    position: absolute;
    z-index: 9999999;
    right: 10px;
    top: 10px;
    background: var(--mdb-gray-dark);
    color: white;
}
