:root {
    --background-color: #e1e1e1d4;
    --card-background: #f0f0f0
}

::-webkit-scrollbar {
    width: 5px;
}

/* Fundo do scrollbar */
::-webkit-scrollbar-track {
    background: #f5f5f5;
}

/* Alça do scrollbar */
::-webkit-scrollbar-thumb {
    background: var(--mdb-gray-500);
    border-radius: 5px;
}

/* Hover na alça do scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
}

* { font-family: Georgia, serif; }

#root,
.actual-title {
    margin-left: 1.5rem;
    font-family: Georgia, serif;
}

body { background: var(--background-color) !important; }

nav { --mdb-navbar-box-shadow: 0 !important; }

.form-outline {
    border: 1px solid #ccc;
    border-radius: 10px;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(90deg, transparent, #000, transparent);
    margin: 20px 0;
}

hr.fade { animation: fade 2s ease-in-out; }

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.btn-nav {
    border-radius: 0;
    box-shadow: 0 0 0 0 !important;
}

.page-link { user-select: none; }

a { color: var(--mdb-gray-dark) !important; }

.fa-house {
    font-size: 1.25rem;
    padding-top: 18px;
}
